[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
autoflake = "*"
fabric = "*"
pre-commit = "*"
ipython = "*"
jpop-lyrics-analysis = {editable = true, path = "."}
isort = "*"

[packages]
beautifulsoup4 = "*"
matplotlib = "*"
mecab-python3 = "*"
numpy = "*"
requests = "*"
urllib3 = "*"
wordcloud = "*"
pillow = "*"
lxml = "*"
click = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
